* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
}

.container {
    background-color: #083b4c;
    display: flex;
    justify-content: center;
}

